@charset "UTF-8";
/* CSS Document -- Web_Design_Midterm*/
/*This is use for the decloration of the Background and sentences.*/

h1 {
	color:aqua;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

h2{
	color:aqua;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;

}

legend{
	color:aqua;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 20px
}

p {
	color:white;
	font-family:Constantia, Lucida Bright, DejaVu Serif, Georgia, serif
}
li{
	color:white;
	font-family:Constantia, Lucida Bright, DejaVu Serif, Georgia, serif
}
a{
	color: white;
	font-family:Constantia, Lucida Bright, DejaVu Serif, Georgia, serif
}

body {
	background-color:black;
}

.sides{
	width: 15%;
	height: 1500px;
	background-color: #44E3D8;
	float: left
	
}
/*
.formal{
	width: 90px;
	float: left;
	clear:left;
	margin-bottom: 30px;
	
}*/